.calendar-container {
  background: #ffffff;
  border-radius: 14px;
  padding: 16px;
}


.react-calendar {
  border: none;
  width: 100%;
}


.react-calendar__tile {
  position: relative;
  text-align: center;
  padding: 10px 0;
}


.react-calendar__tile--active {
  background: rgba(214, 31, 44, 0.1);
  border-radius: 8px;
}


.calendar-dot {
  width: 6px;
  height: 6px;
  background: #3b82f6;
  border-radius: 50%;
  margin: 2px auto 0;
}

.react-calendar__tile--now {
  background: #e7e7e7; 
  border-radius: 8px;
  font-weight: bold;
}

.react-calendar__tile--now:hover {
  background: #c7c7c7 !important;
}